@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');

/* reset */
a {
    color: inherit;
    text-decoration: none;
}

button,
input {
    outline: none;
    border: none;
}

/* common style */
* {
    box-sizing: border-box;
}
.wrap {
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
}
.hide {
    display: none !important;
}


/* header style */
header {
    /* background: orange; */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    padding: 20px;
}
header .inner-header {
    /* background: tomato; */
    width: 92%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    color: #fff;
    font-weight: 700;
}
header .inner-header .logo {
    /* border: 3px solid blue; */
    flex: 1;
}
header .inner-header .logo img {
    height: 60px;
}
header .inner-header .intro-text {
    /* border: 3px solid greenyellow; */
    flex: 4;
    margin-left: 40px;
    text-transform: uppercase;
}
header .inner-header .menu-open {
    /* border: 3px solid violet; */
    flex: 1;
    font-size: 16px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}
header .inner-header .menu-open .lnr-menu {
    font-size: 33px;
    margin-left: 15px;
}

header .gnb {
    background: #000;
    color: #666;
    font-size: 40px;
    padding: 70px 100px;

    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;

    display: flex;
    flex-direction: row-reverse;

    transition: 0.6s;
}


header .gnb .close {
    display: block;
    color: #fff;
    /* order: 1; */
}
header .gnb ul {
    margin-right: 200px;
}
header .gnb ul li {
    font-weight: 700;
    line-height: 1.7;
}
header .gnb ul li:hover,
header .gnb ul li.active
{
    color: #fff;
}


/*  section visual style  */
section.visual .slide li {
    /* border: 4px solid blue; */
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
section.visual .slide li img {
    width: 100%;
    position: absolute;
    top: -50px;
    /* opacity: 0.2; */
}
section.visual .slide li .txt {
    /* background: red; */
    color: #fff;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(0, -50%);
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
}


section.visual .slide li .txt h3 {
    margin: 30px 0;
    font-size: 64px;
    font-weight: 700;
    line-height: 1.3;
}

section.visual .slide li .scroll {
    /* background: orange; */
    position: absolute;
    left: 50px;
    bottom: 10%;
    font-size: 14px;
    font-weight: 700;
    color: #ccc;
    transform: rotate(-90deg);
}

/* section.contents */
section.contents{
    background: #1b1b1b;
    color: #fff;
    padding: 120px 0;
}
section.contents .main-text{
    /* background: yellowgreen; */
    width: 80%;
    margin: 0 auto 100px;
    font-size: 25px;
    display: flex;
    /* justify-content: space-between; */
    position: relative;
}

section.contents .main-text::before {
    content: '';
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #ffec03;
    position: absolute;
    left: 70px;
    top: 100px;
}
section.contents .main-text::after {
    content: 'â€';
    font-size: 300px;
    position: absolute;
    left: 0px;
    top: 100px;
}

section.contents .main-text h3{
    /* border: 3px solid red; */
    font-weight: 700;
    flex: 1;
}
section.contents .main-text p{
    /* border: 3px solid blue; */
    font-size: 23px;
    line-height: 1.4;
    flex: 2;
}
section.contents .main-text p span{
    display: block;
    margin-top: 30px;
    color: #999;
    font-size: 20px;
}


/* partner */
section.contents .partner{
    /* background: orange; */
    width: 80%;
    margin: 170px auto 100px;
}
section.contents .partner h3{
    font-size: 17px;
    margin-bottom: 80px;
}
section.contents .partner ul{
    /* background: red; */
    display: flex;
    flex-wrap: wrap;
}
section.contents .partner ul li{
    /* border: 4px solid white; */
    width: 20%;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
section.contents .partner ul li img{
    opacity: 0.3;
    transition: 0.4s;
}
section.contents .partner ul li img:hover{
    opacity: 1;
}

/* section projcet */
section.contents .project{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}
section.contents .project .top{
    display: flex;
    width: 100%;
    padding-top: 130px;
    padding-bottom: 50px;
}
section.contents .project .top h3{
    flex: 8;
    font-size: 45px;
    font-weight: 700;
    line-height: 1.3;
    margin-left: 180px;
}

section.contents .project a{
    flex: 2;
    font-size: 20px;
}
section.contents .project ul{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

section.contents .project ul li{
    overflow: hidden;
    height: 80%;
    border: 5px solid #fff;
}


section.contents .project ul li img::before{
    content: '';
    width: 0;
    height: 100%;
    background: rgba(27, 27, 27, 0.9);
    position: absolute;
    transition: 0.6s;
}
section.contents .project ul li a:hover::before{
    width: 100%;
}
section.contents .project ul li a img{
    width: 100%;
}
section.contents .project ul li a .name{
    font-size: 22px;
    text-align: right;

    width: 250px;
    padding: 15px;
    box-sizing: border-box;
    background: #1b1b1b;

    position: absolute;
    right: 10px;
    bottom: 10px;

    opacity: 0;
}
section.contents .project ul li a:hover .name{
    animation: show-name 1s forwards;
}
@keyframes show-name {
    from{
        opacity: 0;
        bottom: -30px;
    }
    to{
        opacity: 1;
        bottom: 10px;
    }
    
}
/* section contact */
section .contact{
    background: url(../img/contact.jpg) no-repeat center/cover;
    height: 100vh;
    display: flex;
    align-items: center;

    position: relative;
}
section .contact .inner{
    position: relative;
    left: 300px;
}
section .contact .inner>*{
    line-height: 1.5;
    margin: 50px;
}
section .contact .inner .tel{
    font-size: 80px;
    font-weight: 700;
}

/* footer */
footer{
    background: #000;
    position: relative;
}
footer ul{
    color: gray;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    padding-bottom: 50px;

    display: flex;
    justify-content: space-around;
}
footer ul li:nth-child(2){
    color: #fff;
    padding-left: 3px;
}
footer ul li span{
    color: gray;
    padding-right: 10px;
}
footer .go-top span{
    color: #fff;
    position: fixed;
    right: 50px;
    bottom: 60px;
}

